html, body {
    position: relative;
    height: 100%;
}
body {
    background: #000;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size:12px;
    font-family:"Microsoft YaHei"
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: right;
}
.swiper-slide img{
    width: 100%;
}
.page1{
    color: #fff;
    background:url(../img/page1.png)  no-repeat; 
    background-size:100%;
}
.progress{
    border-radius: 50%;
    width: 68%;
    height: 10px;
    position: absolute;
    left: -5px;
    top: 7%;
    right: 0;
    bottom: 0;
    margin: auto;
}
.page1-line{
    position: absolute;
    left: 0;
    top: -60px;
    width: 0;
    height: 100%;
    background:url(../img/page1-line.png)  no-repeat;
    background-size:100%;
    -webkit-transition:width ease-in 200ms;
}
.progresstext {
    position: absolute;
    top: -84px;
    left: 11px;
    width: 0px;
}
.page1-hexagon{
    width: 20px;
    height: 20px;
    background: url(../img/page1-hexagon.png) no-repeat;
    right: 0px;
    top: 17px;
    position: absolute;
}
.page1-number{
    width: 30px;
    height: 20px;
    right: 0;
    position: absolute;
}
.page2,.page4,.page6,.page7,.page8{
    background:url(../img/page.png) no-repeat;
    background-size:100%;
}
.page2-title{
    margin: 1% 0 10% 0;
}
.page3{
    background:url(../img/page3.png) no-repeat;
    background-size:100%;
}
.page3-Title{
    margin: 7% 0;
}
.page3-video {
    width: 142%;
    height: 46%;
    margin: 0 auto;
    position: absolute;
    /* border: 1px solid; */
}
.page3-Hexagon{
    position: relative;
}
#page3-Hexagon2{
    display: none;
}
.page3-enlarge{
    position: relative;
    height: 10px;
    width: 10px;
    background: red;
}
.video-js .vjs-tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-js .vjs-big-play-button {
    display: none;
}
.my-video-dimensions {
    width: 100%;
    height: 100%;
}
.page4-BigBtn{
    margin: 0 auto;
    width: 47%;
    height: 32%;
    background:url(../img/page4-BigBtn.png) no-repeat;
    background-size:100%;
}
.page4-SmallBtn{
    margin: 0 auto;
    width: 40%;
    height: 16%;
    background:url(../img/page4-SmallBtn.png) no-repeat;
    background-size:100%;
}
.page5{
    background:url(../img/page5.png) no-repeat;
    background-size:100%;
}
.page5-return{
    width: 30%;
    margin: 0 auto;
    height: 12%;
    background:url(../img/page5-return.png) no-repeat;
    background-size:100%;
}
.page6-BigBtn{
    margin: 0 auto;
    width: 47%;
    height: 32%;
    background:url(../img/page6-Btn.png) no-repeat;
    background-size:100%;
}
.page7-BigBtn{
    margin: 0 auto;
    width: 47%;
    height: 32%;
    background:url(../img/page7-Btn.png) no-repeat;
    background-size:100%;
}
.page8-BigBtn{
    width: 45%;
    margin: 0 auto;
    height: 212px;
    background:url(../img/page8-Btn.png) no-repeat;
    background-size:100%;
}
.banner{
    display:block;
    width:95%;
    margin: 10% auto 2%;
}
.banner .turnplate{
    display: block;
    width: 270px;
    position: relative;
    margin: 0 auto;
}
.banner .turnplate canvas.item{
    
}
.banner .turnplate img {
    position:absolute;
    width:10%;
    left:45%;
    top: 6.5%;
}
.turnplate{
    background:url(../img/page10-circular.png) no-repeat;
    background-size:100%;
}
.item{
    height: 270px;
    width: 270px;
}
.page10{
    background:url(../img/page10.png) no-repeat;
    background-size:100%;
}
.page10-Btn{
    margin: 0 auto;
    background:url(../img/page10-button.png) no-repeat;
    background-size:100%;
    width: 50%;
    height: 60%;
}
.page10-shareBtn{
    background: url(../img/page10-shareBtn.png) no-repeat;
    background-size: 100%;
    width: 30%;
    position: absolute;
    height: 60px;
    top: 55%;
    left: 35%;
    display:none;
}
#Luckdraw{
    height: 100%;
    position: absolute;
}
#noluckly,#firstprize,#secondprize,#thirdprize,#share{
    height: 100%;
    position: absolute;
    display:none;
}
#share{
    height: 100%;
    position: relative;
}
.page-title{
    margin-top: 31%;
}
.subtitle{
    margin-bottom :4%;
}
.common-logo{
    margin: 20px auto;
}